{% extends 'app/base.html' %}
{% load static %}
{% block main-content %}
<main>
    <div class="page-content">
        <section class="mt-10 pt-8">
            <div class="container">
                <h2 class="title title-center">There are no items in this cart</h2>
                
            </div>
            <figure  style="display: flex; justify-content: center;">
                <img src="/static/app/images/noncart.jpg" width="451" height="266" alt="empty-cart" />
            </figure>
        </section>
    </div>
</main>
{% endblock main-content %}