<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title> {% block title %} WiseBuy -#1 Mother , Child & shop {% endblock title %} - Wise Buy</title>
    {% block metablock %}
    <meta name="title" content="WiseBuy!">
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="SHOPZY - Ultimate eCommerce Template">
    {% endblock metablock %}

    <meta name="author" content="Wise Buy">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{% static 'app/images/3.png' %}">
    <script>
        WebFontConfig = {
            google: { families: ['Poppins:300,400,500,600,700,800'] }
        };
        (function (d) {
            var wf = d.createElement('script'), s = d.scripts[0];
            wf.src = "{% static 'app/js/webfont.js' %}";
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <style>
        .widget-body a:hover {
            color: red; /* Change this to the desired text color */
        }
    </style>

    <script src="https://kit.fontawesome.com/978212cf0a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'app/vendor/animate/animate.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'app/vendor/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/vendor/animate/animate.min.css' %}">

    <!-- Plugins CSS File -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/vendor/magnific-popup/magnific-popup.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/vendor/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/vendor/codemirror/codemirror.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'app/vendor/photoswipe/photoswipe.min.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'app/vendor/photoswipe/default-skin/default-skin.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/vendor/sticky-icon/stickyicon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/vendor/nouislider/nouislider.min.css' %}">


    <!-- Main CSS File -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
    


</head>

<body>
    <div class="page-wrapper">
        <header class="header header-border">
            <!-- End HeaderTop -->
            <div class="header-middle sticky-header fix-top sticky-content" style="height: 90px; background-color: #ebe8fc;">
                <div class="container">
                    <div class="header-left">
                        <a href="#" class="mobile-menu-toggle">
                            <i class="d-icon-bars2"></i>
                        </a>
                        <a href="/" class="logo">
                            <img src="{% static 'app/images/3.png' %}" alt="logo" width="153" height="44" />
                        </a>
                        <!-- End Logo -->

                        <div class="header-search hs-simple">
                            <form action="{% url 'search' %}" class="input-wrapper" id="search-form" method="POST">
                                {% csrf_token %}
                                <input type="text" name="q" class="form-control" id="search-input" autocomplete="off"
                                    placeholder="Search..." required />
                                <button class="btn btn-search" type="submit">
                                    <i class="d-icon-search"></i>
                                </button>
                                <ul id="search-suggestions">
                                    <!-- Suggestions will be added here by JavaScript -->
                                </ul>
                            </form>
                        </div>
                        <!-- End Header Search -->
                    </div>
                    <div class="header-right">
                        {% if company.phone %}
                        <a href="tel:{{company.phone}}" class="icon-box icon-box-side">
                            <div class="icon-box-icon mr-0 mr-lg-2">
                                <i class="d-icon-phone"></i>
                            </div>
                            <div class="icon-box-content d-lg-show">
                                <h4 class="icon-box-title">Call Us Now:</h4>
                                <p>{{company.phone}}</p>
                            </div>
                        </a>
                        {% endif %}
                        
                        <span class="divider"></span>
                        <div class="dropdown wishlist wishlist-dropdown off-canvas">
							<a href="{% url 'wishlist' %}" class="wishlist-toggle">
								<i class="d-icon-heart"></i>
							</a>
							<div class="canvas-overlay"></div>
							<!-- End Wishlist Toggle -->
							<div class="dropdown-box wishlist-dropdown-box">
                                <section id="wishlist">
                                    <div class="wishlist-header">
                                        <h4 class="cart-title">Wishlist</h4>
                                    </div>
                                    {% if wishlist %}
                                    <div class="products scrollable" id="main-wishlist">
                                        {% for cart in wishlist %}
                                        <div class="product product-cart">
                                            <figure class="product-media">
                                                <a href="{{ cart.product.get_absolute_url }}">
                                                    <img src="{{cart.product.main_picture.url}}" alt="product"
                                                        width="80" height="88" />
                                                </a>
                                                <button class="btn btn-link btn-close remove_wishlist"
                                                    pid="{{cart.product.id}}">
                                                    <i class="fas fa-times"></i><span class="sr-only">Close</span>
                                                </button>
                                            </figure>
                                            <div class="product-detail">
                                                <a href="{{ cart.product.get_absolute_url }}"
                                                    class="product-name">{{cart.product.title}}</a>
                                                <div class="price-box">
                                                    <span class="product-price">Rs.{{cart.product.discounted_price|format_price}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!-- End of Cart Product -->
                                    </div>
                                </section>
                                {% else %}

                                <h4 class="heading mt-5 mb-5" id="no-wishlist" style="font-size: medium;" >No Product in WishList</h4>

                                {% endif %}

                            </div>
							<!-- End Dropdown Box -->
						</div>
                        <span class="divider"></span>

                        <div class="dropdown cart-dropdown type2 cart-offcanvas mr-0 mr-lg-2">
                            <a href="#" class="cart-toggle label-block link">
                                <div class="cart-label d-lg-show">
                                    <span class="cart-name">Shopping Cart:</span>
                                    <span class="cart-price Subtotal">Rs.{{Subtotal|format_price}}</span>
                                </div>
                                <i class="d-icon-bag"><span class="cart-count" id="count">{{count}}</span></i>
                            </a>
                            <div class="cart-overlay"></div>
                            <!-- End Cart Toggle -->
                            <div class="dropdown-box">
                                <section id="main-cart">
                                    <div class="cart-header" id="cart-header">
                                        <h4 class="cart-title">Shopping Cart</h4>
                                        <a href="#" class="btn btn-dark btn-link btn-icon-right btn-close">close<i
                                                class="d-icon-arrow-right"></i><span class="sr-only">Cart</span></a>
                                    </div>
                                    {% if nav_cart %}
                                    <div class="products scrollable" id="nav-cart">
                                        {% for cart in nav_cart.cartitem_set.all %}
                                        <div class="product product-cart">
                                            <figure class="product-media">
                                                <a href="{{ cart.product.get_absolute_url }}">
                                                    <img src="{{cart.product.main_picture.url}}" alt="product"
                                                        width="80" height="88" />
                                                </a>
                                                <button class="btn btn-link btn-close remove_btn"
                                                    pid="{{cart.product.id}}">
                                                    <i class="fas fa-times"></i><span class="sr-only">Close</span>
                                                </button>
                                            </figure>
                                            <div class="product-detail">
                                                <a href="{{ cart.product.get_absolute_url }}"
                                                    class="product-name d-2">{{cart.product.title}} {% if cart.variant %} - {{cart.variant.attributes.value}} {% endif %} </a>
                                                <div class="price-box">
                                                    <span class="product-quantity"
                                                        id="item{{cart.product.id}}">{{cart.quantity}}</span>
                                                        {% if cart.variant.price %}
                                                            <span class="product-price">Rs.{{cart.variant.price|format_price}}</span>
                                                        {% else %}  
                                                            <span class="product-price">Rs.{{cart.product.discounted_price|format_price}}</span>
                                                        {% endif %}
                                                </div>
                                            </div>

                                        </div>
                                        {% endfor %}


                                        <!-- End of Cart Product -->
                                    </div>
                                    <!-- End of Products  -->
                                    <div class="cart-total">
                                        <label>Subtotal:</label>
                                        <span class="price Subtotal">Rs.{{Subtotal|format_price}}</span>
                                    </div>
                                    <!-- End of Cart Total -->
                                    <div class="cart-action">
                                        <a href="{% url 'show-cart' %}" class="btn btn-dark btn-link">View Cart</a>
                                        <a href="{% url 'checkout' %}" class="btn btn-dark"><span>Go To
                                                Checkout</span></a>
                                    </div>
                                    <!-- End of Cart Action -->
                                </section>
                                {% else %}

                                <h4 class="heading mt-5 mb-5" id="no-product" style="font-size: medium;" >No Product in Your Cart</h4>

                                {% endif %}

                            </div>
                            <!-- End Dropdown Box -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-bottom d-lg-show" style="background-color: #ebe8fc;">
                <div class="container">
                    <div class="header-left">
                        <nav class="main-nav">
                            <ul class="menu">
                                <li>
                                    <a href="{% url '/' %}">Home</a>
                                </li>
                                
                                <li>
                                    <a href="{% url 'categories' %}" class="active">Categories</a>
                                    <ul>
                                        {% for category in main_categories %}
                                        <li>
                                            <a href="{{ category.url }}"> {{ category.name }} </a>
                                            <ul>
                                                {% for subcategory in category.subcategory_set.all %}

                                                <li><a href="{{ subcategory.url }}"> {{subcategory.name}} </a>
                                                    <ul>
                                                        {% for subsubcategory in subcategory.subsubcategory_set.all %}

                                                        <li><a href="{{ subsubcategory.url }}"> {{subsubcategory.name}} </a></li>

                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>

                                <!-- <li>
                                    <a href="{% url 'categories' %}">Categories</a>
                                    <div class="megamenu">
                                        <div class="row" style="width: max-content;">
                                            {% for category in categories %}
                                            <div class="col col-sm-3 col-md-3 col-lg-3">
                                                <h4 class="menu-title">{{ category.name }}</h4>
                                                <hr>
                                                <ul>
                                                    {% for subcategory in category.subcategory_set.all %}
                                                    <li><a href="{% url 'shop' category.name subcategory.name %}">{{subcategory.name}}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </li> -->

                                <li>
                                    <a href="/brand/">Brands</a>
                                    <div class="megamenu">
                                        <div class="row">
                                            {% for brand in brands %}
                                            <div class="col col-sm-3 col-md-3 col-lg-3">
                                                <ul>
                                                
                                                    <li><a href="{% url 'brand' brand.brand_url %}">
                                                            <figure><img src="{{brand.brand_logo.url}}" alt="brand"
                                                                    width="180" height="100" />
                                                            </figure>
                                                        </a></li>
                                                </ul>
                                            </div>
                                            {% endfor %}

                                            <!-- End MegaMenu -->
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/shop/">Shop</a>
                                </li>
                                {% if flashsale %}
                                <li>
                                    <a href="/falshsale/">Flash Sale</a>
                                </li>
                                {% endif %}
                                
                            </ul>
                        </nav>
                    </div>
                    {% if not request.user.is_authenticated %}
                    <div class="header-right">
                        <a href="{% url 'login' %}"><i class="d-icon-arrow-right"></i>Login</a>
                        <a href="{% url 'register' %}" class="ml-6"><i class="d-icon-user"></i>Register</a>
                    </div>
                    {% else %}
                    <nav class="main-nav">
                        <ul class="menu">
                            <li class="active">
                                <a href="{% url 'account' %}"> {% if request.user.first_name %} {{request.user.first_name}}  {% else %}  My Account  {% endif %} </a>
                                <ul>
                                    {% if request.user.is_authenticated %}
                                    <li><a href="{% url 'account' %}">My Account</a></li>
                                    <li><a href="{% url 'logout' %}">Logout</a></li>
                                    <li><a href="{% url 'account' %}#orders">Orders</a></li>
                                    {% else %}
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'contact-us' %}">Contact Us</a></li>
                                    <li><a href="{% url 'faq' %}">FAQs</a></li>
                                </ul>
                            </li>
                            {% endif %}
                </div>
            </div>
        </header>
        <!-- <div class="news-ticker">
            <div class="news-headline">
              <span>Breaking News:</span>
              <span id="ticker-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui itaque ut facilis, sed consectetur error praesentium obcaecati quidem eveniet maxime. Tempore, harum rerum iste aspernatur veniam itaque inventore! Mollitia adipisci quasi eligendi voluptas</span>
            </div>
          </div>           -->
        <!-- End Header -->
        <main class="main">
            {% include "app/quick-view.html" %}
            {% block main-content %}

            {% endblock main-content %}
        </main>
        <!-- End Main -->



        <!-- new footer -->
        <footer class="footer">
            <div class="container">
                <div class="footer-middle">
                    <div class="row pt-2">
                        <div class="col-lg-2 d-flex align-items-center">
                            <a href="/" class="logo-footer">
                                <img src="{% static 'app/images/3.png' %}" alt="logo-footer" width="154">
                            </a>
                        </div>
                        <div class="col-lg-3 col-contact col-md-6">
                            <div class="widget widget-contact">
                                <h4 class="widget-title">Get In Touch</h4>
                                <ul class="widget-body">
                                    <li>
                                        <label>Phone</label>
                                        <a href="tel:{{company.phone}}">{{company.phone}}</a>
                                    </li>
                                    <li>
                                        <label>Email</label>
                                        <a href="mailto:{{company.email}}"> {{company.email}} </a>
                                    </li>
                                
                                    <li>
                                        <label>WORKING DAYS / HOURS</label> <br> <br>
                                        <a href="#">Mon - Sun / 9:00 AM - 8:00 PM</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-account col-md-6">
                            <div class="widget">
                                <h4 class="widget-title">About Us</h4>
                                <ul class="widget-body">
                                    {% for page in pages %}
                                    <li>
                                        <a href="{% url 'information' page.url %}"> {{page.information_title}} </a>
                                    </li>
                                    {% endfor %}
                                    <li>
                                        <a href="{% url 'track-order' %}">Track your Order </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="widget widget-newsletter form-wrapper">
                                <div class="newsletter-info mb-3">
                                    <h4 class="widget-title mb-3">Subscribe Newsletter</h4>
                                    <p>Don't miss out! <b>Subscribe to Wise Buy Newsletter</b> for the Golden Shake and be the first to receive timely updates on our new arrivals and exciting offers on your favorite products.</p>
                                </div>
                                <form method="POST" class="input-wrapper input-wrapper-inline" novalidate>
                                    {% csrf_token %}
                                    {{ newsLetterform.as_p }}
                                    <button class="btn btn-primary btn-rounded btn-md ls-normal ml-2"
                                        type="submit">subscribe<i class="d-icon-arrow-right"></i></button>
                                </form>
                            </div>
                            <div class="social-links">
                                <a href="#" title="social-link"
                                    class="social-link social-facebook fab fa-facebook-f"></a>
                                <a href="#" title="social-link" class="social-link social-twitter fab fa-twitter"></a>
                                <a href="#" title="social-link"
                                    class="social-link social-instagram fab fa-instagram"></a>
                                <a href="#" title="social-link"
                                    class="social-link social-pinterest fab fa-pinterest-p"></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="footer-left">
                        <p class="copyright">Copyright © 2022 Wise Buy Store. All Rights Reserved.</p>
                    </div>
                    <div class="footer-right">
                        <figure class="d-flex">
                            <img src="{% static 'app/images/payment.png' %}" alt="payment" width="159" height="29" />
                        </figure>

                    </div>
                </div>
            </div>

        </footer>

        <!-- end new footer -->


        <!-- End Footer -->
        <div class="minipopup-area"></div>
    </div>
    <!-- Sticky Footer -->
    <div class="sticky-footer sticky-content fix-bottom">
        <a href="{% url 'main' %}" class="sticky-link active">
            <i class="d-icon-home"></i>
            <span>Home</span>
        </a>
        <a href="{% url 'categories' %}" class="sticky-link">
            <i class="d-icon-volume"></i>
            <span>Categories</span>
        </a>
        <a href="{% url 'wishlist' %}" class="sticky-link">
			<i class="d-icon-heart"></i>
			<span>Wishlist</span>
		</a>
        <a href="{% url 'account' %}" class="sticky-link">
            <i class="d-icon-user"></i>
            <span>Account</span>
        </a>
        <div class="header-search hs-toggle dir-up">
            <a href="#" class="search-toggle sticky-link">
                <i class="d-icon-search"></i>
                <span>Search</span>
            </a>
            <form action="{% url 'search' %}" class="input-wrapper" id="search-form" method="POST">
                {% csrf_token %}
                <input type="text" name="q" class="form-control" id="search-input-1" autocomplete="off"
                    placeholder="Search..." required />
                <button class="btn btn-search" type="submit">
                    <i class="d-icon-search"></i>
                </button>
                <ul id="search-suggestions-1">
                    <!-- Suggestions will be added here by JavaScript -->
                </ul>
            </form>
        </div>
    </div>
    <!-- Scroll Top -->
    <!-- <a href="https://api.whatsapp.com/send?phone={{company.phone}}&text=Hello from WiseBuy!" class="whatsapp-icon">
        <img src="/static/app/images/whatsapp.png" alt="WhatsApp Icon">
      </a> -->
    <a id="scroll-top" href="#top" title="Top" role="button" class="scroll-top"><i class="d-icon-arrow-up"></i></a>
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe. It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
			PhotoSwipe keeps only 3 of them in the DOM to save memory.
			Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" aria-label="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--zoom" aria-label="Zoom in/out"></button>

                    <div class="pswp__preloader">
                        <div class="loading-spin"></div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button--arrow--left" aria-label="Previous (arrow left)"></button>
                <button class="pswp__button--arrow--right" aria-label="Next (arrow right)"></button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- MobileMenu -->
    <div class="mobile-menu-wrapper">
        <div class="mobile-menu-overlay">
        </div>
        <!-- End Overlay -->
        <a class="mobile-menu-close" href="#"><i class="d-icon-times"></i></a>
        <!-- End CloseButton -->
        <div class="mobile-menu-container scrollable">
            <form action="{% url 'search' %}" class="input-wrapper">
                <input type="text" class="form-control" name="search" autocomplete="off"
                    placeholder="Search your keyword..." required />
                <button class="btn btn-search" type="submit">
                    <i class="d-icon-search"></i>
                </button>
            </form>
            <!-- End Search Form -->
            <ul class="mobile-menu mmenu-anim">
                <li>
                    <a href="/">Home</a>
                </li>
                
                <li>
                    <a href="{% url 'categories' %}" class="active">Categories</a>
                    <ul>
                        {% for category in main_categories %}
                        <li>
                            <a href="{{ category.url }}"> {{ category.name }} </a>
                            <ul>
                                {% for subcategory in category.subcategory_set.all %}

                                <li><a href="{{ subcategory.url }}"> {{subcategory.name}} </a>
                                    <ul>
                                        {% for subsubcategory in subcategory.subsubcategory_set.all %}

                                        <li><a href="{{ subsubcategory.url }}"> {{subsubcategory.name}} </a></li>

                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="{% url 'account' %}">{{request.user}}</a>
                    <ul>
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'account' %}">My Account</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        <li><a href="{% url 'account' %}#orders">Orders</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                        <li><a href="{% url 'contact-us' %}">Contact Us</a></li>
                        <li><a href="{% url 'faq' %}">FAQs</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/brand/">Brands</a>
                    <ul>
                        {% for brand in  brands %}
        
                        <li><a href="/brand/{{brand.brand_url}}"> {{brand.brand_name}} </a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <!-- End MobileMenu -->
        </div>

    </div>
    <!-- newsletter-popup default -->

    <!-- sticky icons-->

    <div id="cover-spin"></div>
    <!-- Plugins JS File -->
    <script src="{% static 'app/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'app/vendor/jquery.count-to/jquery.count-to.min.js' %}"></script>
    <script src="{% static 'app/vendor/jquery.plugin/jquery.plugin.min.js' %}"></script>

    <script src="{% static 'app/vendor/parallax/parallax.min.js' %}"></script>
    <script src="{% static 'app/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'app/vendor/elevatezoom/jquery.elevatezoom.min.js' %}"></script>
    <script src="{% static 'app/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'app/vendor/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'app/vendor/codemirror/codemirror.min.js' %}"></script>
    <script src="{% static 'app/vendor/popup-code/popcode.min.js' %}"></script>
    <script src="{% static 'app/vendor/jquery.countdown/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'app/vendor/photoswipe/photoswipe.min.js' %}"></script>
    <script src="{% static 'app/vendor/photoswipe/photoswipe-ui-default.min.js' %}"></script>
    <script src="{% static 'app/vendor/nouislider/nouislider.min.js' %}"></script>
    <script src="{% static 'app/vendor/sticky/sticky.min.js' %}"></script>


    <!-- Main JS File -->

    <script src="{% static 'app/js/main.min.js' %}"></script>
    <script src="{% static 'app/js/myscript.js' %}"></script>
    <script>
        function changeBannerImage() {
            var screenWidth = window.innerWidth;
            var banners = document.querySelectorAll('.banner');
            banners.forEach(function(banner) {
              var image = banner.querySelector('img');
              var bannerImageURL = image.dataset.bannerImage;
              var bannerMobileImageURL = image.dataset.bannerMobileImage;
              if (screenWidth < 768) {
                image.src = bannerMobileImageURL;
              } else {
                image.src = bannerImageURL;
              }
            });
          }
          window.addEventListener('load', changeBannerImage);
          window.addEventListener('resize', changeBannerImage);
    </script>
<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '{your-app-id}',
        cookie     : true,
        xfbml      : true,
        version    : '{api-version}'
      });
        
      FB.AppEvents.logPageView();   
        
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
     
  </script>

</body>
</html>