{% extends 'app/base.html' %}
{% load static %}
{% block main-content %}
<main class="main">
    <div class="page-content">
        <section class="error-section-2  error-default banner banner-fixed">
            <figure>
                <img src="/static/app/images/404_3.png" width="1903" height="804" alt="error-page"
                    style="background-color: #f8f8f8;">
            </figure>
            <div class="container">
                <div class="banner-content y-50">
                    <h2 class="banner-title font-weight-bold text-secondary mb-5">Oops!...
                    </h2>
                    <h3 class="banner-subtitle font-weight-bold mb-2">Four oh Four! You have gone
                        Adrift!</h3>
                    <span class="banner-descri ls-normal font-weight-normal text-body d-block">It looks
                        like
                        nothing was
                        found at this location.</span>
                    <a class="btn btn-dark btn-rounded mt-6 mb-1" href="demo1.html">
                        GO Back Home<i class="d-icon-arrow-right"></i> </a>
                </div>
            </div>
        </section>
    </div>

</main>
<!-- End Main -->
{% endblock main-content %}
