{% extends 'app/base.html' %}
{% load static %}
{% block main-content %}
<main>
	<div class="page-content mb-10 mt-10 pb-6">
		<div class="container">
			<div class="row">
				{% for category in categories %}				  
				<div class="col-xl-3 col-lg-4 col-6 mb-4">
					<div class="category category-light category-absolute">
						<a href="{{category.url}}">
							<figure class="category-media">
								<img src="{{category.image.url}}" width="300" height="338" alt="category" />
							</figure>
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</main>
{% endblock main-content %}