{% extends 'app/base.html' %}
{% load static %}
{% load custom_filters %}

{% block main-content %}
<main class="main">
	{% if flashsale_obj %}
	{{timer|json_script:"remaining-time"}}
	<div class="page-header" style="background-image: url('/static/app/images/Flash.gif'); background-color: #3C63A4; object-fit: contain;">	
		<div class="countdown-content-center">
			<div class="countdown countdown-default" data-until="{{timer}}" data-relative="true" data-format="DHMS"></div>
		</div>		
	</div>
	{% endif %}
	<!-- End PageHeader -->
	<div class="page-content mb-10 pb-3">
		<div class="container">
			{% if page_obj %}
			<div class="row main-content-wrap gutter-lg">
				<aside class="col-lg-3 sidebar sidebar-fixed sidebar-toggle-remain shop-sidebar sticky-sidebar-wrapper">
					<div class="sidebar-overlay"></div>
					<a class="sidebar-close" href="#"><i class="d-icon-times"></i></a>
					<div class="sidebar-content">
						<div class="sticky-sidebar" data-sticky-options="{'top': 10}">
							<div class="filter-actions mb-4">
								<a href="#"
									class="sidebar-toggle-btn toggle-remain btn btn-outline btn-primary btn-icon-right btn-rounded">Filter<i
										class="d-icon-arrow-left"></i></a>
								<a href="#" class="filter-clean">Clean All</a>
							</div>
							<div class="widget widget-collapsible">
								<h3 class="widget-title">All Categories</h3>
								<ul class="widget-body filter-items search-ul">
									{% for category in main_categories %}
									<li>
										<a href="{{ category.url }}"> {{ category.name }} </a>
										<ul>
											{% for subcategory in category.subcategory_set.all %}
			
											<li><a href="{{ subcategory.url }}"> {{subcategory.name}} </a>
												<ul>
													{% for subsubcategory in subcategory.subsubcategory_set.all %}
			
													<li><a href="{{ subsubcategory.url }}"> {{subsubcategory.name}} </a></li>
			
													{% endfor %}
												</ul>
											</li>
											{% endfor %}
										</ul>
									</li>
									{% endfor %}
								</ul>
									
							</div>
							<div class="widget widget-collapsible">
								<h3 class="widget-title">Filter by Price</h3>
								<div class="widget-body mt-3">
									<form action="" id="filter_by_price">
										<input type="hidden" name="data"  category="{{category}}" subcategory="{{subcategory}}" subsubcategory="{{subsubcategory}}">
										<div class="wra">
											<div class="values">
												<span id="range1">
												Rs {{min_price}}
												</span>
												<span> &dash; </span>
												<span id="range2">
												Rs {{max_price}}
												</span>
											</div>
											<div class="cont">
												<div class="slider-track"></div>
												<input type="range" min="{{min_price}}" max="{{max_price}}" value="{{min_price}}" id="slider-1" oninput="slideOne()">
												<input type="range" min="{{min_price}}" max="{{max_price}}" value="{{max_price}}" id="slider-2" oninput="slideTwo()">
											</div>
										</div>
										<button type="submit" class="btn btn-dark btn-filter" id="filterbtn">Filter</button>
									</form>
															
								</div>
							</div>
							
							<div class="widget widget-collapsible">
								<h3 class="widget-title">Brands</h3>
								<ul class="widget-body ">
									{% for brand in  brands %}
									<li><a href="/brand/{{brand.brand_url}}"> {{brand.brand_name}} </a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</aside>
				<div class="col-lg-9 main-content">
					<nav class="toolbox sticky-toolbox sticky-content fix-top">
						<div class="toolbox-left">
							<div class="toolbox-item toolbox-sort select-box text-dark">
								<label>Sort By :</label>
								<select name="orderby" class="form-control" id="filter-select">
									<option value="default" onClick="window.location.reload();">Default</option>
									<option value="latest" category="{{category}}" subcategory="{{subcategory}}" subsubcategory="{{subsubcategory}}">Latest</option>
									<option value="rating" category="{{category}}" subcategory="{{subcategory}}" subsubcategory="{{subsubcategory}}">Sort by average rating</option>
									<option value="price-low" category="{{category}}" subcategory="{{subcategory}}" subsubcategory="{{subsubcategory}}">Sort forward price low</option>
									<option value="price-high" category="{{category}}" subcategory="{{subcategory}}" subsubcategory="{{subsubcategory}}"> Sort forward price high</option>
								</select>
							</div>
						</div>
						<div class="toolbox-right">
						</div>
					</nav>
					<div class="row cols-2 cols-sm-3 cols-md-4 product-wrapper">
						{% for product in page_obj %}
						<div class="product-wrap">
							<div class="product product-image-gap text-center  cart-full"  style="height: 384px;">
								<figure class="product-media">
									<div class="product-img">
										<div onclick="window.location.href='{{ product.get_absolute_url }}'" style="cursor:pointer;">
											<img class="front-img" src="{{product.main_picture.url}}" alt="Best Seller" width="280"
												 height="315" style="background-color: #f2f3f5; height: 220px; " />
												 {% if product.product_images_set.first %}
												 <img class="rear-img" src="{{product.product_images_set.first.RelatedImages.url}}" alt="Best Seller" width="280"
												 height="315" style="background-color: #f2f3f5; height: 220px; " onmouseover="this.src='{{product.product_images_set.last.RelatedImages.url}}'"
												 onmouseout="this.src='{{product.product_images_set.first.RelatedImages.url}}'" />
												 {% endif %}
										</div>
									</div>
									<!-- {% if product.discount_perc > 0 %} -->
									<div class="product-label-group">
										<label class="product-label label-sale">-{{product.discount_perc}}% off</label>
									</div>
									<!-- {% endif %} -->
									{% if product.out_of_stock %}
									<div class="OOS">Out of stock</div>			
									{% endif %}
									<div class="product-action-vertical">
										<a href="#" class="btn-product-icon btn-wishlist addtowishlist"
										pid="{{product.id}}"    title="Add to wishlist"><i class="d-icon-heart"></i></a>
									</div>
								</figure>
								<div class="product-details">
									<div class="product-cat">
										<a href="{% url 'brand' product.brand.brand_url %}">{{product.brand}}</a>
									</div>
									<h3 class="product-name">
										<a href="{{ product.get_absolute_url }}">{{product.title}}</a>
									</h3>
									<div class="product-price" style="font-size: smaller;">
										<span class="price">Rs.{{ product.discounted_price|format_price }}</span>
										{% if product.selling_price %}
											<del class="old-price">Rs.{{product.selling_price}}</del>
										{% endif %}
									</div>
									{% if product.reviews_set.count  > 0 %}
									<div class="ratings-container">
										<div class="ratings-full">
											<span class="ratings" style="width:{{ product.average_rating}}%"></span>
											<span class="tooltiptext tooltip-top"></span>
										</div>
										<a href="#" class="rating-reviews">( <span class="review-count"> {{ product.reviews_set.count }} </span> reviews)</a>
									</div>
									{% endif %}
									{% if not product.out_of_stock %}
										{% if product.product_type != '2' %}
										<a class="btn-product-no-modal btn-cart addtocart"  pid="{{product.id}}" title="Add to cart"><i
										class="d-icon-bag"></i>Add to cart</a>
										{% else %}
											<a class="btn-product-no-modal btn-cart" href="{{product.get_absolute_url}}" title="Select Option"><i
											class="d-icon-bag"></i>Select Option</a>
										{% endif %}
									{% else %}
									<a class="btn-product-no-modal btn-cart addtowishlist"  pid="{{bestseller.id}}" title="Add to cart"><i class="d-icon-heart"></i></a>
									{% endif %}
								</div>
							</div>
						</div>
						{% endfor %}

					</div>
					<nav class="toolbox toolbox-pagination" id="paginator">
						<p class="show-info">Showing <span> {{page_obj.start_index}} to {{page_obj.end_index}} of {{page_obj.paginator.count}}</span> Products</p>
						<ul class="pagination">

							{% if page_obj.has_previous %}
							<li class="page-item">

								<a class="page-link page-link-prev" href="?page={{page_obj.previous_page_number}}"
									aria-label="Previous" tabindex="-1" aria-disabled="true">
									<i class="d-icon-arrow-left"></i>Prev
								</a>
							</li>
							{% else %}
							<li class="page-item disabled">
								<a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1"
									aria-disabled="true">
									<i class="d-icon-arrow-left"></i>Prev
								</a>
							</li>
							{% endif %}

							</li>
							{% for l in page_obj.paginator.page_range %}
							{% if forloop.counter < 3 %} {% if forloop.counter == page_obj.number %} <li
								class="page-item active" aria-current="page"><a class="page-link"	href="#">{{page_obj.number}}</a>
								{% else %}
								<li class="page-item"><a class="page-link"
										href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
								{% endif %}
								{% endif %}
								{% endfor %}
								<li class="page-item page-item-dots"><a class="page-link" href="?page={{page_obj.paginator.page_range|length }}">{{ page_obj.paginator.page_range|length }}</a></li>
								{% if page_obj.has_next %}
								<li class="page-item">
									<a class="page-link page-link-next" href="?page={{page_obj.next_page_number}}"
										aria-label="Next">
										Next<i class="d-icon-arrow-right"></i>
									</a>
								</li>
								{% else %}
								<li class="page-item disabled">
									<a class="page-link page-link-next" href="#" aria-label="Next">
										Next<i class="d-icon-arrow-right"></i>
									</a>
								</li>

								{% endif %}
						</ul>
					</nav>
				</div>
			</div>
			{% else %}
			<div class="container mt-10">
				<div class="alert alert-light alert-danger alert-icon alert-inline mb-4">
					<i class="fas fa-exclamation-triangle"></i>
					<h4 class="alert-title">Oh snap!</h4>
					We can't find products matching the selection.
				</div>
			</div>
			{% endif %}
		</div>
	</div>

</main>
{% endblock main-content %}
<!-- End Main -->